<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 已有项目 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body style="background-color: #f7f7f7">
<div style="width: 1500px;min-height: 960px;margin: auto">
    <div class="col-lg-2" style="margin: 90px auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li  style="margin-top: 10px"><a href="showinfo.html">个人信息</a></li>
            <li ><a href="pubproject.html">发布项目</a></li>
            <li ><a href="searchproject.html">寻找项目</a></li>
            <li ><a href="searchperson.html">寻找合伙人</a></li>
            <li class="active"><a href="meproject.html">已创建项目</a></li>
            <li ><a href="signupproject.html">已报名项目</a></li>
            <li ><a href="message.html">通知</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div style="margin: 90px auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div class="table-responsive">
                <div class="col-lg-4 col-lg-offset-4"><h3>已创建项目</h3></div>
                <table class="table table-bordered" id="content">

                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script>
    $(function(){
        getContent(1,15)
    })
    function getContent(page,pageSize){
        $.ajax({
            "url":"/getprojectdetail",
            "type":"POST",
            "dataType":"JSON",
            "data":{
                "page":page,
                "pageSize":pageSize
            },
            "success":function (data) {
                if(data){
                    handlerdata(data)
                }
            }
        })
    }
    function handlerdata(data){
        var url="<tbody><tr><td>项目名称</td><td>比赛类别</td> <td>寻找对象</td><td>人数</td><td>创建时间</td></tr>";
        $.each(data,function(n,value){
            var id=value.id
            var name=value.name;
            var title=value.title;
            var type=value.type;
            var typename="互联网+"
            if(type==1){
                typename="挑战杯"
            }else if(type==2){
                typename="创青春"
            }else if(type==3){
                typename="微软创青春"
            }

            var findType=value.findType;
            var findName="队员"
            if(findType==1){
                findName="项目负责人"
            }else if(findType==2){
                findName="创新创业导师"
            }
            var findNum=value.findNum;
            var createTime=value.createTime;

            url+="<tr onclick='skinto("+id+")'><td>"+title+"</td><td>"+name+"</td><td>"+typename+"</td><td>"+findNum+"人</td><td>"+createTime+"</td></tr>"
        })
        url+="</tbody>"
        $("#content").html(url)
    }
    function skin(id){

    }
</script>
</html>