<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布项目</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body style="background-color: #f7f7f7">
<input type="text"  th:value="${flag}" style="display:none" id="flag">
<div style="width: 1500px;min-height: 960px;margin: auto">
    <div class="col-lg-2" style="margin: 90px auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li  style="margin-top: 10px"><a href="showinfo">个人信息</a></li>
            <li ><a href="pubproject">发布项目</a></li>
            <li ><a href="searchproject">寻找项目</a></li>
            <li ><a href="searchperson">寻找合伙人</a></li>
            <li ><a href="meproject">已创建项目</a></li>
            <li ><a href="signupproject">已报名项目</a></li>
            <li class="active"><a href="message?flag=0">通知</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div style="margin: 90px auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div class="table-responsive">
                <div>
                    <div class="col-lg-4" style="height:60px"></div>
                    <div class="col-lg-4" style="height:60px"><h3 style="padding-left: 150px">消息通知</h3></div>
                    <div class="col-lg-4" style="height:60px"></div>
                </div>
                <div>
                    <button type="button" class="btn btn-default active" style="margin-left:160px;width:300px" id="receive" onclick="skintoReceive()">接收的消息</button>
                    <button type="button" class="btn btn-default " style="margin-left: 300px;width:300px" id="send" onclick="skintoSend()">发送的消息</button>
                </div>
                <table class="table table-bordered" id="content" style="margin-top: 20px">

                </table>
            </div>
        </div>
    </div>

</div>

</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script>
    var flag =0;
    $(function(){

            flag = parseInt($("#flag").val())
            getContent(flag, 1, 15)

    })
    function getContent(flag,page,pageSize){
        $.ajax({
            "url":"/getmessage",
            "type":"POST",
            "dataType":"JSON",
            "data":{
                "flag":flag,
                "page":page,
                "pageSize":pageSize
            },
            "success":function (data) {
                if(data){
                    if(flag==0){
                       $("#title1").css("display","")
                       $("#title2").css("display","none")
                       $("#receive").addClass("active")
                       $("#send").removeClass("active")
                    }else{
                        $("#title1").css("display","none")
                        $("#title2").css("display","")
                        $("#send").addClass("active")
                        $("#receive").removeClass("active")
                    }
                    handlerData(data)
                }
            }
        })
    }
    function handlerData(data){
        var url="<tbody>";
        if(flag==0){
            url+="<tr>\n" +
                "                        <td>消息类型</td>\n" +
                "                        <td>发送者</td>\n" +
                "                        <td>发送时间</td>\n" +
                "                    </tr>"
        }else{
            url+="<tr>\n" +
                "                        <td>消息类型</td>\n" +
                "                        <td>消息状态</td>\n" +
                "                        <td>发送时间</td>\n" +
                "                    </tr>"
        }
        $.each(data,function(n,value){
            var id=value.id
            var name=value.name;
            var status=value.status;
            var createTime=value.createTime;
            var typeName=value.typeName;
            if(flag==0){
                url+="<tr onclick='skinto("+id+")'><td>"+typeName+"</td><td>"+name+"</td><td>"+createTime+"</td>"
            }else{
                url+="<tr onclick='skinto("+id+")'><td>"+typeName+"</td><td>"+status+"</td><td>"+createTime+"</td>"
            }

        })
        url+="</tbody>"
        $("#content").html(url)
    }
    function skinto(id){
        window.location.href="messageinfo?messageId="+id
    }

    function skintoReceive(){
        window.location.href="message?flag=0"
    }
    function skintoSend(){
        window.location.href="message?flag=1"
    }
</script>
</html>