<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布项目</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body style="background-color: #f7f7f7">
<div style="width: 1500px;min-height: 960px;margin: auto">
    <input type="text"  th:value="${messageId}" style="display:none" id="messageId">
    <input type="text"  th:value="${userId}" style="display:none" id="userId">
    <div class="col-lg-2" style="margin: 90px auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li  style="margin-top: 10px"><a href="showinfo">个人信息</a></li>
            <li ><a href="pubproject">发布项目</a></li>
            <li ><a href="searchproject">寻找项目</a></li>
            <li ><a href="searchperson">寻找合伙人</a></li>
            <li ><a href="meproject">已创建项目</a></li>
            <li ><a href="signupproject">已报名项目</a></li>
            <li class="active"><a href="message?flag=0">通知</a></li>
            <li ><a href="loginout">退出</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div style="margin: 90px auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div>
                <div class="col-lg-4" style="height:60px"></div>
                <div class="col-lg-4" style="height:60px"><h3 style="padding-left: 150px">消息通知</h3></div>
                <div class="col-lg-4" style="height:60px"></div>
            </div>
            <div>
                <button type="button" class="btn btn-default " style="margin-left:160px;width:300px" onclick="skintoReceive()">接收的消息</button>
                <button type="button" class="btn btn-default " style="margin-left: 300px;width:300px" onclick="skintoSend()">发送的消息</button>
            </div>
            <div style="min-height: 500px;width:80%;margin:20px auto;border:1px dashed #cccccc">
                <div class="col-lg-6" style="padding-top: 20px">
                    <form class="form-horizontal form-style" >
                        <div class="form-group">
                            <label class="col-sm-4 control-label" id="application_persion">申请者</label>
                            <div class="col-sm-8" style="line-height: inherit;text-align: center;vertical-align: middle;" id="name">

                            </div>
                        </div>
                        <div class="form-group" style="padding-top: 150px">
                            <label  class="col-sm-4 control-label" id="application_title">申请项目</label>
                            <div class="col-sm-8" style="line-height: inherit;text-align: center;vertical-align: middle;" id="title">

                            </div>
                        </div>


                    </form>
                </div>
                <div class="col-lg-6" style="padding-top: 20px">
                    <form class="form-horizontal form-style" >
                        <div class="form-group">
                            <label class="col-sm-4 control-label" id="application_introduction">申请者简介</label>
                            <div class="col-sm-8" style="line-height: inherit;text-align: center;vertical-align: middle;width:80%;min-height: 120px" id="introduction">

                            </div>
                        </div>
                        <div class="form-group" >
                            <label  class="col-sm-4 control-label" id="application_email">申请者邮箱</label>
                            <div class="col-sm-8" style="line-height: inherit;text-align: center;vertical-align: middle;" id="email">

                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div id="operator">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="button" class="btn btn-default " onclick="operation(0)">接受</button>
                            <button type="button" class="btn btn-default " style="margin-left: 300px"  onclick="operation(2)">拒绝</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script>

    $(function(){
        var messageId=parseInt($("#messageId").val())
        getContent(messageId)
    })
    function  getContent(id){
        $.ajax({
            "url":"/getsinglemessage",
            "type":"POST",
            "dataType":"JSON",
            "data":{
                "messageId":id
            },

            "success":function (data) {
                if(data==false){
                    window.location.href="index"
                    return
                }
                if(data){
                    handledata(data.userDetail,data.user,data.projectDetail,data.message,data.own,data.ownDetail)
                }
            }
        })
    }
    var message_id=0;
    var project_Id=0;
    var send_type=0;
    var user_id=0
    function handledata(userDetail,user,projectDetail,message,own,ownDetail){
        var type=message.type;
        user_id=user.id;
        send_type=type;
        message_id=message.id;
        tempId=message.userID;
        tempId1=message.ownID;
        project_Id=message.projectID
        var status=message.status
        var ownId=$("#userId").val()
        if(type==0){
            if(tempId==ownId){
                $("#operator").css("display","none")
            }
        }else{
            if(tempId1==ownId){
                $("#operator").css("display","none")
            }
        }
        if(status!=1){
            $("#operator").css("display","none")
        }

        if(type==0){
            $("#application_persion").text("申请者")
            $("#application_title").text("申请项目")
            $("#application_introduction").text("申请者简介")
            $("#application_email").text("申请者邮箱");
            var name=user.username;
            var title=projectDetail.title;
            var introdution=userDetail.specialty
            var email=userDetail.email;
            $("#name").html(name);
            $("#title").html(title);
            $("#introduction").html(introdution);
            $("#email").html(email);
        }else{
            $("#application_persion").text("邀请者")
            $("#application_title").text("邀请项目")
            $("#application_introduction").text("邀请者简介")
            $("#application_email").text("邀请者邮箱")
            var name=own.username;
            var title=projectDetail.title;
            var introdution=ownDetail.specialty
            var email=ownDetail.email;
            $("#name").html(name);
            $("#title").html(title);
            $("#introduction").html(introdution);
            $("#email").html(email);
        }

    }
    function operation(type){
        $.ajax({
            "url":"/updatemessage",
            "type":"POST",
            "dataType":"JSON",
            "data":{
                "messageId":message_id,
                "projectId":project_Id,
                "status":type,
                "userId":user_id
            },

            "success":function (data) {
                if(data){
                    if(send_type==0){
                        window.location.href="message?flag=0"
                    }else{
                        window.location.href="message?flag=1"
                    }

                }
            }
        })
    }

    function skintoReceive(){
        window.location.href="message?flag=0"
    }
    function skintoSend(){
        window.location.href="message?flag=1"
    }
</script>
</html>