<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布项目</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/doc.css}">
</head>
<body style="background-color: #f7f7f7">
<div class="bs-docs-header" style="height:60px" tabindex="-1">
    <div class="container">
        <p>为方便管理项目而生xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
</div>
<div style="width: 90%;min-height: 960px;margin: auto">
    <div class="col-lg-2 col-sm-2 col-md-2" style="margin: 0 auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li  style="margin-top: 10px"><a href="showinfo">个人信息</a></li>
            <li class="active"><a href="pubproject">发布项目</a></li>
            <li ><a href="searchproject">寻找项目</a></li>
            <li ><a href="searchperson">寻找合伙人</a></li>
            <li ><a href="meproject">已创建项目</a></li>
            <li ><a href="signupproject">已报名项目</a></li>
            <li ><a href="message?flag=0">通知</a></li>
            <li style="display: none" id="findpassword"><a href="findpassword">密码重置</a></li>
            <li ><a href="loginout">退出</a></li>
        </ul>
    </div>
    <div class="col-lg-10 col-sm-10 col-md-10">
        <div style="margin: 0 auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div class="col-lg-6" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">发布人</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="发布人">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-3">
                            <select  class="form-control" id="type">
                                <option value="0" selected>互联网+</option>
                                <option value="1">挑战杯</option>
                                <option value="2">创青春</option>
                                <option value="3">微软创新杯</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                        <label for="process" class="col-sm-2 control-label">进度</label>
                        <div class="col-sm-3">
                            <select  class="form-control" id="process">
                                <option value="0">校赛</option>
                                <option value="1">省赛</option>
                                <option value="2">国赛</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="projectname" class="col-sm-2 control-label">项目名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="projectname" placeholder="项目名称">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="feature" class="col-sm-2 control-label">创意简介</label>
                        <div class="col-sm-9" >
                            <textarea class="form-control" id="feature" placeholder="" style="height:230px">
                        </textarea>
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                </form>
            </div>
            <div class="col-lg-6" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="for_person" class="col-sm-2 control-label">负责人</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="for_person" placeholder="负责人">
                        </div>
                        <label for="teacher" class="col-sm-2 control-label">导师</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="teacher" placeholder="导师">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="search" class="col-sm-2 control-label">寻找</label>
                        <div class="col-sm-3">
                            <select  class="form-control" id="search" onselect="setPerson()">
                                <option value="0">队员</option>
                                <option value="1">项目负责人</option>
                                <option value="2">创新创业导师</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                        <label for="search_num" class="col-sm-2 control-label">人数</label>
                        <div class="col-sm-3">
                            <select  class="form-control" id="search_num">
                                <option value="1">1人</option>
                                <option value="2">2人</option>
                                <option value="3">3人</option>
                                <option value="4">4人</option>
                                <option value="5">5人</option>
                                <option value="6">6人</option>
                                <option value="7">7人</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="search_know" class="col-sm-2 control-label">寻找说明</label>
                        <div class="col-sm-10" >
                        <textarea class="form-control" id="search_know" placeholder="" style="height:230px">
                        </textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-6">
                            <button type="button" class="btn btn-default col-sm-3 " onclick="save()">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script th:src="@{/js/common.js}" ></script>
<script>
    $(function(){
        $.ajax({
            "url":"/user",
            "type":"GET",
            "dataType":"JSON",
            "success":function (data) {
                if(data==false){
                    window.location.href="/index";
                }else{
                    var user=data.user;
                    var userdetail=data.userDetail;
                    var flag=user.flag;
                    if(flag==2||flag==0){
                        alert("您不具备发布项目的权限")
                        window.location.href="showinfo";
                    }else{
                        var name=userdetail.name;
                        $("#name").val(name);
                        $("#for_person").val(name)
                    }
                }
            }
        })
    })
    function save(){
        var name=$("#name").val();
        var type=$("#type").val();
        var process=$("#process").val();
        var projectname=$("#projectname").val();
        var feature=$("#feature").val();
        var for_person=$("#for_person").val();
        var teacher=$("#teacher").val();
        var search=$("#search").val();
        var search_num=$("#search_num").val();
        var search_know=$("#search_know").val();
        if(!name){
            alert("发布人不能为空");
            return;
        }
        if(!projectname){
            alert("项目名称不能为空");
            return;
        }
        if(!for_person){
            alert("负责人不能为空");
            return;
        }
//        if(!teacher){
//            alert("导师不能为空");
//            return;
//        }
        if(!feature){
            alert("创意简介不能为空");
            return;
        }
        var data1={
            "title":projectname,
            "name":name,
            "type":type,
            "processType":process,
            "introdution":feature,
            "leder":for_person,
            "teacher":teacher,
            "findType":search,
            "findNum":search_num,
            "findIntrodution":search_know
        };
        $.ajax({
            "url":"/projectdetail",
            "type":"POST",
            "dataType":"JSON",
            "data":data1,
            "success":function (data) {
                if(data==1){
                    window.location.href="/meproject";
                }else if(data==0){
                    alert("创建失败");
                }else if(data==-1){
                    alert("您没有权限创建项目");
                    window.location.href="showinfo";
                }else{
                    alert("您没有登录，请登录");
                    window.location.href="index";
                }
            }
        })
    }
    function setPerson(){
        var type=$("#search").val();
        if(type==1||type==2){
           $("#search_num option[value=1]").attr("checked",true);
            $("#search_num").attr("disabled",true)
        }else{
            $("#search_num").removeAttribute("disabled");
        }
    }
</script>
</html>