<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <style>
        .form-style>div{
            margin-top: 30px;
        }
    </style>
</head>

<body style="background-color: #f7f7f7">
<div style="min-width: 1600px;min-height: 960px;">
    <div style="margin: 90px auto;width: 1600px;background-color:#ffffff;padding-bottom: 90px;min-height:800px;border-radius: 5px">
        <div>
            <div class="col-lg-4" style="height:60px"></div>
            <div class="col-lg-4" style="height:60px"><h3>个人信息</h3></div>
            <div class="col-lg-4" style="height:60px"></div>
        </div>
        <div>
            <button type="button" class="btn btn-default " style="margin-left:150px;width:300px" onclick="skintoStudent()">学生注册</button>
            <button type="button" class="btn btn-default " style="margin-left: 150px;width:300px" onclick="skintoteacher()">老师注册</button>
            <button type="button" class="btn btn-default active" style="margin-left: 150px;width:300px" onclick="skintocompany()">创新导师注册</button>
        </div>
        <div>
            <div class="col-lg-4" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" placeholder="用户名" onblur="checkName()">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="姓名"/>
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-9">
                            <select  class="form-control" id="sex">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="studentNum" class="col-sm-2 control-label" id="studentNum1">企业名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="studentNum" placeholder="企业名称">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" placeholder="密码">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="password1" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password1" placeholder="确认密码">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>

                    <div class="form-group">
                        <label for="college" class="col-sm-2 control-label" id="college1">岗位</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="college" placeholder="岗位">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                    <div class="form-group">
                        <label for="profession" class="col-sm-2 control-label" id="profession1">学历</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="profession" placeholder="学历">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>

                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">项目类型</label>
                        <div class="col-sm-9" id="type">
                            <input class="form-control" type="checkbox" name="type" value="">11
                            <input class="form-control" type="checkbox" name="type" value="">22
                            <input class="form-control" type="checkbox" name="type" value="">33
                            <input class="form-control" type="checkbox" name="type" value="">44
                            <input class="form-control" type="checkbox" name="type" value="">55
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>
                </form>
            </div>
            <div class="col-lg-4" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail" placeholder="邮箱" onblur="checkEmail()">
                        </div>
                        <label class="col-sm-1 control-label" style="color:red">*</label>
                    </div>

                    <div class="form-group">
                        <label for="wechat" class="col-sm-2 control-label" >微信</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="wechat" placeholder="微信">
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id="wechatP">
                                <option value="0" selected>公开</option>
                                <option value="1">不公开</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="phone" placeholder="电话" onblur="checkPhone()">
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id="phoneP">
                                <option value="0" selected>公开</option>
                                <option value="1" >不公开</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pic" class="col-sm-2 control-label">照片</label>
                        <div class="col-sm-8" id="pic" style="height:300px;border-radius: 3px;background-color: silver">
                            <img src="" id="pic_url" width="100%" height="100%">
                        </div>
                        <div class="col-sm-2">
                            <input type="file" id="file1" onchange="doChange()" name="file1" style="display:none">
                            <button class="btn btn-default" type="button" onclick="file1.click()">上传</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="feature" class="col-sm-2 control-label" id="feature1">个人简介</label>
                        <div class="col-sm-10" >
                            <textarea class="form-control" id="feature" placeholder="" style="height:230px">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exprience" class="col-sm-2 control-label" id="exprience1">工作经历</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="exprience" placeholder="" style="height:230px">
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="height:200px;margin-top:20px">
            <form class="form-horizontal form-style" >
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="button" class="btn btn-default " onclick="javascript:history.go(-1)">返回</button>
                        <button type="button" class="btn btn-default " style="margin-left: 500px" onclick="register()">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script th:src="@{/js/ajaxfileupload.js}" ></script>
<script th:src="@{/js/registercommon.js}" ></script>
<script>
    function register(){
        var username=$("#username").val();
        var name=$("#name").val();
        var sex=$("#sex").val()
        var role=4;
        var studentNum=$("#studentNum").val();
        var password=$("#password").val();
        var password1=$("#password1").val();
        var college=$("#college").val();
        var profession=$("#profession").val();
        var inputEmail=$("#inputEmail").val();
        var wechat=$("#wechat").val();
        var wechatP=$("#wechatP").val();
        var phone=$("#phone").val();
        var phoneP=$("#phoneP").val();
        var pic=$("#pic_url").attr("src");
        var feature=$("#feature").val();
        var exprience=$("#exprience").val();
        if(!username){
            alert("用户名不能为空")
            return
        }
        if(username){
            var myreg=/^[\u3220-\uFA29]+$/;
            if(myreg.test(username)){
                alert("用户名应为字母或者特殊字符，不英文中文")
                return;
            }
        }
        if(!name){
            alert("姓名不能为空");
            return;
        }
        if(!password){
            alert("密码不能为空");
            return;
        }

        if(!password1){
            alert("确认密码不能为空");
            return;
        }
        if(password!=password1){
            alert("密码不一致，请重新输入");
            return;
        }
        var myreg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        if(!myreg.test(inputEmail)){
            alert('请输入有效的E_mail！');
            return;
        }
        if(phone){
            var mobile=/^[1][3,4,5,7,8][0-9]{9}$/;
            if(!mobile.test(phone)){
                alert('请输入有效的手机号！');
                $("#phone").val("");
                return;
            }
            if(phone.length!=11){
                alert('手机号长度不必须是11位！');
                return;
            }
        }

        if(role==0){
            if(!studentNum){
                alert("学号不能为空");
                return;
            }
            if(!college){
                alert("院系不能为空");
                return;
            }
            if(!profession){
                alert("专业不能为空");
                return;
            }
        }else if(role==1){
            if(!college){
                alert("院系不能为空");
                return;
            }
        }else{
            if(!profession){
                alert("学历不能为空");
                return;
            }
        }

        if(!inputEmail){
            alert("邮箱不能为空");
            return;
        }
        var data1={
            "username":username,
            "name":name,
            "password":password,
            "sex":sex,
            "studentNum":studentNum,
            "college":college,
            "profession":profession,
            "inputEmail":inputEmail,
            "wechat":wechat,
            "wechatP":wechatP,
            "phone":phone,
            "phoneP":phoneP,
            "pic":pic,
            "feature":feature,
            "exprience":exprience,
            "flag":role,
            "type":""
        };
        $.ajax({
            "url":"/register",
            "type":"POST",
            "dataType":"JSON",
            "data":data1,
            "success":function (data) {
                if(data>0){
                    alert("注册成功");
                    window.location.href="index";
                }else{
                    if(data==-1){
                       alert("姓名重复，请重新输入")
                    }else{
                        alert("注册失败");
                    }
                }
            }
        })
 }
function checkName(){
    var username=$("#username").val();
    if(!username){
        return;
    }
    $.ajax({
        "url":"/checkname",
        "type":"POST",
        "dataType":"JSON",
        "data":{"username":username},
        "success":function (data) {
            if(data>0){
                alert("用户名重复，请重新输入")
                $("#name").val("")
            }
        }
    })
}
</script>
</html>