<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 查找伙伴 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body style="background-color: #f7f7f7">
<div style="width: 1500px;min-height: 960px;margin: auto">
    <div class="col-lg-2" style="margin: 90px auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li  style="margin-top: 10px"><a href="showinfo">个人信息</a></li>
            <li ><a href="pubproject">发布项目</a></li>
            <li ><a href="searchproject">寻找项目</a></li>
            <li class="active"><a href="searchperson">寻找合伙人</a></li>
            <li ><a href="meproject">已创建项目</a></li>
            <li ><a href="signupproject">已报名项目</a></li>
            <li ><a href="message?flag=0">通知</a></li>
            <li ><a href="loginout">退出</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div style="margin: 90px auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div class="table-responsive">
                <div class="col-lg-4 col-lg-offset-4"><h3>寻找合伙人</h3></div>
                <table class="table table-bordered" id="content">

                </table>
            </div>
        </div>
    </div>
    <nav aria-label="..." >
        <ul class="pager">
            <li><a href="" id="prev">上一页</a></li>
            <li><a href="" id="next">下一页</a></li>
            <li>第<label id="nowPage"></label>页</li>
            <li>共<label id="allPage"></label>页</li>
            <li style="margin-left: 100px"><label >至</label><input type="text" id="skinTo" style="width:80px;border-radius: 3px;margin-left: 10px;" ><label style="margin-left: 10px;">页</label> <a href="javascript:skinPage()">跳转</a></li>
        </ul>
    </nav>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script>
    $(function(){
        getcontent(1,15)
    })
    var allPageNum=0;
    function getcontent(page,pageSize){
        $.ajax({
            "url":"/getalluser",
            "type":"POST",
            "dataType":"JSON",
            "data":{
                "page":page,
                "pageSize":pageSize
            },
            "success":function (data) {
                if(data==false){
                    window.location.href="index"
                    return
                }
                if(data){
                    handlerdata(data.userBean)
                    var pageNum=data.pageNum;
                    allPageNum=pageNum;
                    var prevPage=page-1;
                    var nextPage=page+1;
                    $("#prev").attr("href","javascript:getPageInfo("+prevPage+","+pageNum+",0)")
                    $("#next").attr("href","javascript:getPageInfo("+nextPage+","+pageNum+",1)")
                    $("#nowPage").text(page);
                    $("#allPage").text(pageNum)
                }
            }
        })
    }

    function getPageInfo(page,pageNum,flag){
        if(flag==0){
            if(page<=0){
                alert("没有上一页");
                return;
            }else{
                getcontent(page,15)
            }

        }else{
            if(page>pageNum){
                alert("没有下一页");
                return;
            }else{
                if(page>0){
                    getcontent(page,15)
                }
            }

        }

    }
    function handlerdata(data){
        var url="<tbody><tr>\n" +
            "                        <td>合伙人</td>\n" +
            "                        <td>院系</td>\n" +
            "                        <td>专业</td>\n" +
            "                        <td>邮箱</td>\n" +
            "\n" +
            "                    </tr>";
        $.each(data,function(n,value){
            var user=value.user;
            var userdetail=value.userDetail;
            var id=user.id;
            var name=user.username;
            var email=userdetail.email;
            var department=userdetail.department;
            var major=userdetail.major;
            url+="<tr onclick='skin("+id+")'><td>"+name+"</td><td>"+department+"</td><td>"+major+"</td><td>"+email+"</td></tr>"
        })
        url+="</tbody>";
        $("#content").html(url)
    }

    function skin(id){
        window.location.href="showperson?userId="+id;
    }

    function skinPage(){
        var page=$("#skinTo").val()
        var num=/^[0-9]*$/;
        if(!num.test(page)){
            alert('请输入数字！');
            return;
        }
        if(parseInt(page)>allPageNum){
            alert('输入页数大于总页数，请重新输入！');
            return;
        }
        if(parseInt(page)<=0){
            alert('输入页数需大于0，请重新输入！');
            return;
        }
        getcontent(parseInt(page),15)
    }
</script>
</html>