<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>显示人员信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body style="background-color: #f7f7f7">
<input type="text"  th:value="${userId}" style="display:none" id="userId">
<div style="width: 1500px;min-height: 960px;margin: auto">
    <div class="col-lg-2" style="margin: 90px auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li style="margin-top: 10px"><a href="showinfo">个人信息</a></li>
            <li ><a href="pubproject">发布项目</a></li>
            <li ><a href="searchproject">寻找项目</a></li>
            <li  class="active"><a href="searchperson">寻找合伙人</a></li>
            <li ><a href="meproject">已创建项目</a></li>
            <li ><a href="signupproject">已报名项目</a></li>
            <li ><a href="message?flag=0">通知</a></li>
            <li ><a href="loginout">退出</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div style="margin: 90px auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div class="col-lg-6" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label class="col-sm-4 control-label">姓名</label>
                        <div class="col-sm-8" style="line-height: inherit;text-align: center;vertical-align: middle;" id="name">

                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">照片</label>
                        <div class="col-sm-8"  style="height:300px;border-radius: 3px;background-color: silver">
                            <img src="" id="pic_url" width="95%" height="95%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">微信</label>
                        <div class="col-sm-8" style="line-height: inherit;text-align: center;vertical-align: middle;" id="wexin">

                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">电话</label>
                        <div class="col-sm-8" style="line-height: inherit;text-align: center;vertical-align: middle;" id="phone">

                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-6" style="padding-top: 20px">
                <form class="form-horizontal form-style" >

                    <div class="form-group">
                        <label  class="col-sm-4 control-label">特长</label>
                        <div class="col-sm-8" style="height:150px;margin-top:20px" id="feature">

                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">比赛和项目经历</label>
                        <div class="col-sm-8" style="height:150px;margin-top:20px" id="exprience">

                        </div>
                    </div>
                    <label for="project" class="col-sm-4 control-label">项目</label>
                    <div class="col-sm-8">
                        <select  class="form-control" id="project">

                        </select>
                    </div>
                </form>
            </div>

            <div>
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="button" class="btn btn-default " onclick="javascript:history.go(-1)">返回</button>
                            <button type="button" class="btn btn-default " style="margin-left: 300px" onclick="opertion()">邀请</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script>
    var userId=0;
    $(function(){
        userId=parseInt($("#userId").val())
        getContent(userId)
    })

    function getContent(userId){
        $.ajax({
            "url":"/getsingleuser",
            "type":"POST",
            "dataType":"JSON",
            "data":{"userId":userId},
            "success":function (data) {
                if(data==false){
                    window.location.href="index"
                    return
                }
                if(data.user){
                    handledata(data.userDetail,data.user,data.project)
                }
            }
        })
    }
    function handledata(userDetail,user,project){
        userId=user.id;
        var username=user.username;
        var sex=userDetail.sex;
        var studentNum=userDetail.studentID;
        var department=userDetail.department;
        var major=userDetail.major;
        var email=userDetail.email;
        var weichart=userDetail.weichart;
        var isShowWei=userDetail.isShowWei;
        var phoneNum=userDetail.phoneNum;
        var isShowPhoneNum=userDetail.isShowPhoneNum;
        var photo=userDetail.photo;
        var specialty=userDetail.specialty;
        var competitionExperience=userDetail.competitionExperience;
        $("#name").html(username)
        if(photo){
            $("#pic_url").attr("src","/upload-dir/"+photo)
        }
        $("#wexin").html(weichart)
        if(isShowPhoneNum==0){
            $("#phone").html(phoneNum)
        }else{
            $("#phone").html("未公开")
        }

        $("#feature").html(specialty)
        $("#exprience").html(competitionExperience)
        if(project){
            var url=""
            $.each(project,function(n,value){
                var id=value.id;
                var title=value.title;
                if(value==0){
                    url+="<option value="+id+" selected>"+title+"</option>"
                }else{
                    url+="<option value="+id+">"+title+"</option>"
                }

            })
            $("#project").html(url);
        }
    }
    function opertion(){
        var projectId=$("#project").val()
        if(!projectId){
           alert("您还没有创建项目，请创建项目后再邀请")
        }
        $.ajax({
            "url":"/application",
            "type":"POST",
            "dataType":"JSON",
            "data":{
                "projectId":projectId,
                "userId":userId,
                "type":1
            },
            "success":function (data) {
                if(data>0){
                    alert("邀请成功");
                    window.location.href="searchperson"
                }
            }
        })
    }
</script>
</html>