<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>信息展示</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/doc.css}">
</head>
<body style="background-color: #f7f7f7">
<div class="bs-docs-header" style="height:60px" tabindex="-1">
    <div class="container">
        <p>为方便管理项目而生xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
</div>
<div style="width: 1500px;min-height: 960px;margin: auto">
    <div class="col-lg-2" style="margin: 0 auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li class="active" style="margin-top: 10px"><a href="showinfo">个人信息</a></li>
            <li ><a href="pubproject">发布项目</a></li>
            <li ><a href="searchproject">寻找项目</a></li>
            <li ><a href="searchperson">寻找合伙人</a></li>
            <li ><a href="meproject">已创建项目</a></li>
            <li ><a href="signupproject">已报名项目</a></li>
            <li ><a href="message?flag=0">通知</a></li>
            <li style="display: none" id="findpassword"><a href="findpassword">密码重置</a></li>
            <li ><a href="loginout">退出</a></li>
        </ul>
    </div>
    <div class="col-lg-10">

        <div style="margin: 0 auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div>
                 <div class="col-lg-4" style="height:60px"></div>
                 <div class="col-lg-4" style="height:60px"><h3>个人信息</h3></div>
                 <div class="col-lg-4" style="height:60px"></div>
            </div>

            <div class="col-lg-4" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="姓名" disabled="disabled" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <select  class="form-control" id="sex" disabled="disabled" >
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="studentNum" class="col-sm-2 control-label" id="studentNum1">学号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="studentNum" placeholder="学号" disabled="disabled" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="college" class="col-sm-2 control-label" id="college1">院系</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="college" placeholder="院系" disabled="disabled" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="profession" class="col-sm-2 control-label" id="profession1">专业</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="profession" placeholder="专业" disabled="disabled" >
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="邮箱" disabled="disabled" onblur="checkEmail()" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="wechat" class="col-sm-2 control-label" >微信</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="wechat" placeholder="微信" disabled="disabled" >
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id="wechatP" disabled="disabled">
                                <option value="0" selected>公开</option>
                                <option value="1">不公开</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="phone" placeholder="电话" disabled="disabled" onblur="checkPhone()">
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id="phoneP" disabled="disabled">
                                <option value="0" selected>公开</option>
                                <option value="1" >不公开</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pic" class="col-sm-2 control-label">照片</label>
                        <div class="col-sm-7" id="pic" style="height:300px;border-radius: 3px;background-color: silver">
                            <img src="" id="pic_url" width="100%" height="100%">
                        </div>
                        <div class="col-sm-3">
                            <input type="file" id="file1" onchange="doChange()" name="file1" style="display:none">
                            <button class="btn btn-default" type="button" onclick="file1.click()" disabled="disabled" id="uploadbtn">上传</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4" style="padding-top: 20px">
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <label for="feature" class="col-sm-2 control-label" id="">特长</label>
                        <div class="col-sm-10" >
                        <textarea class="form-control" id="feature" placeholder="" style="height:230px" disabled="disabled" >
                        </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exprience" class="col-sm-2 control-label" id="exprience1">经历</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" id="exprience" placeholder="" style="height:230px" disabled="disabled" >
                        </textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <form class="form-horizontal form-style" >
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default " onclick="canUpdate()">修改</button>
                            <button type="button" class="btn btn-default " style="margin-left: 300px" onclick="update()">确认修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script th:src="@{/js/ajaxfileupload.js}" ></script>
<script th:src="@{/js/common.js}" ></script>
<script>
    $(function(){
        info();
    })
    function info(){
        $.ajax({
            "url":"/user",
            "type":"GET",
            "dataType":"JSON",
            "success":function (data) {
                if(data==false){
                    window.location.href="index"
                    return
                }
                if(data){
                    handledata(data.userDetail,data.user)
                }
            }
        })
    }
    function handledata(userDetail,user){
       var name=userDetail.name;
       var sex=userDetail.sex;
       var studentNum=userDetail.studentID;
       var department=userDetail.department;
       var major=userDetail.major;
       var email=userDetail.email;
       var weichart=userDetail.weichart;
       var isShowWei=userDetail.isShowWei;
       var phoneNum=userDetail.phoneNum;
       var isShowPhoneNum=userDetail.isShowPhoneNum;
       var photo=userDetail.photo;
       var specialty=userDetail.specialty;
       var competitionExperience=userDetail.competitionExperience;
       $("#name").val(name);
       $("#sex").val(sex)
       $("#studentNum").val(studentNum);//
       $("#college").val(department)
       $("#profession").val(major);
       $("#inputEmail").val(email);
       $("#wechat").val(weichart);
       $("#wechatP").val(isShowWei);
       $("#phone").val(phoneNum);
       $("#phoneP").val(isShowPhoneNum);
       if(photo){
           $("#pic_url").attr("src",photo);
       }
       $("#feature").val(specialty);
       $("#exprience").val(competitionExperience);
    }
    function update(){
        if(can_do==0){
            return;
        }
        var name=$("#name").val();
        var sex=$("#sex").val()
        var studentNum=$("#studentNum").val();
        var password=$("#password").val();
        var password1=$("#password1").val();
        var college=$("#college").val();
        var profession=$("#profession").val();
        var inputEmail=$("#inputEmail").val();
        var wechat=$("#wechat").val();
        var wechatP=$("#wechatP").val();
        var phone=$("#phone").val();
        var phoneP=$("#phoneP").val();
        var pic=$("#pic_url").attr("src");
        var feature=$("#feature").val();
        var exprience=$("#exprience").val();
        if(!name){
            alert("姓名不能为空");
            return;
        }
        if(password||password1){
            if(password!=password1){
                alert("密码不一致，请重新输入");
                return;
            }
        }
        if(!studentNum){
            alert("学号不能为空");
            return;
        }
        if(!college){
            alert("院系不能为空");
            return;
        }
        if(!profession){
            alert("专业不能为空");
            return;
        }
        var myreg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        if(!myreg.test(inputEmail)){
            alert('请输入有效的E_mail！');
            return;
        }
        if(phone){
            var mobile=/^[1][3,4,5,7,8][0-9]{9}$/;
            if(!mobile.test(phone)){
                alert('请输入有效的手机号！');
                $("#phone").val("");
                return;
            }
            if(phone.length!=11){
                alert('手机号长度不必须是11位！');
                $("#phone").val("");
                return;
            }
        }
        var data1={
            "name":name,
            "sex":sex,
            "password":password,
            "studentNum":studentNum,
            "college":college,
            "profession":profession,
            "inputEmail":inputEmail,
            "wechat":wechat,
            "wechatP":wechatP,
            "phone":phone,
            "phoneP":phoneP,
            "pic":pic,
            "feature":feature,
            "exprience":exprience,
            "flag":0
        };
        $.ajax({
            "url":"/update",
            "type":"POST",
            "dataType":"JSON",
            "data":data1,
            "success":function (data) {
                if(data>0){
                    alert("修改成功");
                    window.location.reload();
                }else{
                    if(data==-1){
                        alert("姓名重复，请重新输入")
                    }else{
                        alert("修改失败");
                    }
                }
            }
        })
    }
    function doChange(){
        $.ajaxFileUpload({
            url: "/upload", //用于文件上传的服务器端请求地址
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: 'file1', //文件上传域的ID
            dataType: 'json', //返回值类型 一般设置为json
            type:"POST",
            success: function (data, status){
                if(data!='false'){
                    var fileName=data.filename
                    $("#pic_url").attr("src",fileName);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        })
    }
    var can_do=0;
    function canUpdate(){
        can_do=1
        $("#name").removeAttr("disabled");
        $("#sex").removeAttr("disabled");
        $("#studentNum").removeAttr("disabled");
        $("#college").removeAttr("disabled");
        $("#profession").removeAttr("disabled");
        $("#inputEmail").removeAttr("disabled");
        $("#wechat").removeAttr("disabled");
        $("#wechatP").removeAttr("disabled");
        $("#phone").removeAttr("disabled");
        $("#phoneP").removeAttr("disabled");
        $("#feature").removeAttr("disabled");
        $("#exprience").removeAttr("disabled");
        $("#password").removeAttr("disabled");
        $("#password1").removeAttr("disabled");
        $("#uploadbtn").removeAttr("disabled");
    }
    function checkEmail(){
        var email=$("#inputEmail").val();
        var myreg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        if(!myreg.test(email)){
            alert('请输入有效的E_mail！');
            $("#inputEmail").val("");
            return;
        }

    }
    function checkPhone(){
        var phone=$("#phone").val();
        var mobile=/^[1][3,4,5,7,8][0-9]{9}$/;
        if(!mobile.test(phone)){
            alert('请输入有效的手机号！');
            $("#phone").val("");
            return;
        }
        if(phone.length!=11){
            alert('手机号长度不必须是11位！');
            $("#phone").val("");
            return;
        }
    }
</script>
</html>