<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 已报名项目 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/doc.css}">
</head>
<body style="background-color: #f7f7f7">
<div class="bs-docs-header" style="height:60px" tabindex="-1">
    <div class="container">
        <p>为方便管理项目而生xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
</div>
<div style="width: 1500px;min-height: 960px;margin: auto">
    <div class="col-lg-2" style="margin: 0 auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li  style="margin-top: 10px"><a href="showinfo">个人信息</a></li>
            <li ><a href="pubproject">发布项目</a></li>
            <li ><a href="searchproject">寻找项目</a></li>
            <li ><a href="searchperson">寻找合伙人</a></li>
            <li ><a href="meproject">已创建项目</a></li>
            <li class="active"><a href="signupproject">已报名项目</a></li>
            <li ><a href="message?flag=0">通知</a></li>
            <li style="display: none" id="findpassword"><a href="findpassword">密码重置</a></li>
            <li ><a href="loginout">退出</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div style="margin: 0 auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div class="table-responsive">
                <div class="col-lg-4 col-lg-offset-4"><h3>已报名项目</h3></div>
                <table class="table table-bordered" id="content">

                </table>
            </div>
        </div>
    </div>
    <nav aria-label="..." >
        <ul class="pager">
            <li><a href="" id="prev">上一页</a></li>
            <li><a href="" id="next">下一页</a></li>
            <li>第<label id="nowPage"></label>页</li>
            <li>共<label id="allPage"></label>页</li>
            <li style="margin-left: 100px"><label >至</label><input type="text" id="skinTo" style="width:80px;border-radius: 3px;margin-left: 10px;" ><label style="margin-left: 10px;">页</label> <a href="javascript:skinPage()">跳转</a></li>
        </ul>
    </nav>

</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}" ></script>
<script th:src="@{/js/common.js}" ></script>
<script>
    $(function(){
        getcontent(1,15)
    })
    var allPageNum=0;
    function getcontent(page,pageSize){
        $.ajax({
            "url":"/getsignprojectdetail",
            "type":"POST",
            "dataType":"JSON",
            "data":{
                "page":page,
                "pageSize":pageSize
            },
            "success":function (data) {
                if(data==false){
                    window.location.href="index"
                    return
                }
                if(data.count>0){
                    handlerdata(data.projectDetail);
                    var pageNum=data.pageNum;
                    allPageNum=pageNum
                    var prevPage=page-1;
                    var nextPage=page+1;
                    $("#prev").attr("href","javascript:getPageInfo("+prevPage+","+pageNum+",0)")
                    $("#next").attr("href","javascript:getPageInfo("+nextPage+","+pageNum+",1)")
                    $("#nowPage").text(page);
                    $("#allPage").text(pageNum)
                }
            }
        })
    }
    function getPageInfo(page,pageNum,flag){
        if(flag==0){
            if(page<=0){
                alert("没有上一页");
                return;
            }else{
                getcontent(page,15)
            }

        }else{
            if(page>pageNum){
                alert("没有下一页");
                return;
            }else{
                if(page>0){
                    getcontent(page,15)
                }
            }

        }

    }
    function handlerdata(data){
        var url="<tbody<tr>\n" +
            "<td>项目名称</td>\n" +
            "<td>发布人</td>\n" +
            "<td>比赛类型</td>\n" +
            "<td>报名时间</td>\n" +
            "<td>状态</td>\n" +
            "</tr>";
        $.each(data,function(n,value){
            var id=value.id
            var name=value.name;
            var title=value.title;
            var type=value.type;
            var flag=value.flag;
            var typename="互联网+"
            if(type==1){
                typename="挑战杯"
            }else if(type==2){
                typename="创青春"
            }else if(type==3){
                typename="微软创青春"
            }

            var findType=value.findType;
            var findName="队员"
            if(findType==1){
                findName="项目负责人"
            }else if(findType==2){
                findName="创新创业导师"
            }
            var flagName="通过";
            if(flag==1){
                flagName="审核中";
            }else if(flag==2){
                flagName="拒绝";
            }
            var createTime=value.createTime;
            url+="<tr onclick='skinto("+id+")'><td>"+title+"</td><td>"+name+"</td><td>"+typename+"</td><td>"+createTime+"</td><td>"+flagName+"</td>"
        })
        url+="</tbody>"
        $("#content").html(url)
    }
    function skinto(id){
        window.location.href="projectdetail?projectId="+id;
    }
    function skinPage(){
        var page=$("#skinTo").val()
        var num=/^[0-9]*$/;
        if(!num.test(page)){
            alert('请输入数字！');
            return;
        }
        if(parseInt(page)>allPageNum){
            alert('输入页数大于总页数，请重新输入！');
            return;
        }
        if(parseInt(page)<=0){
            alert('输入页数需大于0，请重新输入！');
            return;
        }
        getcontent(parseInt(page),15)
    }
</script>
</html>