<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 已报名项目 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body style="background-color: #f7f7f7">
<div style="width: 1500px;min-height: 960px;margin: auto">
    <div class="col-lg-2" style="margin: 90px auto;background-color: #fff">
        <ul class="nav nav-pills nav-stacked">
            <li class="active" style="margin-top: 10px"><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
            <li ><a href="#">个人信息</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div style="margin: 90px auto;background-color:#ffffff;padding-bottom: 90px;border-radius: 5px">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>

                    </tr>
                    <tr>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>

                    </tr>
                    <tr>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>

                    </tr>
                    <tr>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>

                    </tr>
                    <tr>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                    </tr>
                    <tr>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>

                    </tr>
                    <tr>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script th:href="@{/js/jquery-3.3.1.min.js}"></script>
<script th:href="@{/js/bootstrap.js}" ></script>
<script th:href="@{/js/login.js}"></script>
</html>